body{}
#container{
	margin: 0 auto;
	background-color: green;
	height: 500px;
	width: 700px;

}
#player{

}
#deal{

}
#hit{
	
}
#dealer{

}
.playerard1{
	height: 250px;
	width: 150px;
	background-color: black;
	border-radius: 10px;
}
